@tailwind base;
@tailwind components;

@font-face {
  font-family: "GalanoGrotesque";
  src: url(./fonts/GalanoGrotesqueRegular.otf) format("otf");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "GalanoGrotesque";
  src: url(./fonts//Galano\ Grotesque\ Medium.otf) format("otf");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@tailwind utilities;



.width-368 {
  width: 368px;
}
